<h1>New List</h1>
<%= form_with model: @list, url: lists_path, method: :post do |f| %>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "Enter list name" %>
<%= f.submit "Create List" %>
<% end %>
<p><%= link_to "Go back", lists_path %></p>
